<p>Hey <%= user.name %>,</p>
<p>
  Welcome to <%= app_name %>! We're very excited to have you on board.<br />
  Now that your account has been created, you can login to our dashboard with the credentials below.
</p>
<p>
  <strong>Email:</strong> <%= user.email %><br />
  <strong>Password:</strong> <%= user.password %>
</p>
<p>It is necessary to change the password after the first login!</p>
<p>
  <a
    href="<%= url %>"
    target="_blank "
    style="
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      cursor: pointer;
      border-radius: 4px;
      margin: 5px;
      background-color: #13b2c0;
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
      padding: 10px 20px;
      display: block;
      text-decoration: none;
    "
  >
    Sign in to your account
  </a>
</p>
